<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,900" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <div id="components">
        <header>
            <p class="headertextShopFrom">shopfrom<span class="headerTextNick">Nick.</span></p>
        </header>
        <nav>
            <ul class="navUL">
                <li class="navHome" v-on:click="changepage('Home'); ">
                    <p class="styletext">Home</p>
                </li>
                <li class="navAdmin" v-on:click="changepage('Admin'); ">
                    <p class="styletext">Admin</p>
                </li>
                <div class="dropdown">
                    <li class="navProduct">
                        <p class="dropdownmenu">Products</p>
                    </li>
                    <div class="dropdown-content">
                        <a href="#" v-on:click="changepage('T-shirts')">T-shirts</a>
                        <a href="#" v-on:click="changepage('Underwear')">Underwear</a>
                        <a href="#" v-on:click="changepage('Jeans')">Jeans</a>
                    </div>
                </div>
                <li class="navCart" v-on:click="changepage('Cart')">
                    <p class="styletext">Cart</p>
                </li>
            </ul>
        </nav>
        <main v-if="!loading">
            <div v-if="page === 'Home'">
                <Firstpage></Firstpage>
            </div>
            <div v-if="page === 'T-shirts'">
                <Shirts></Shirts>
            </div>
            <div v-if="page === 'Underwear'">
                <Underwear></Underwear>
            </div>
            <div v-if="page === 'Jeans'">
                <Jeans></Jeans>
            </div>
            <div v-if="page === 'Cart'">
                <cartitems></cartitems>
            </div>
            <div v-if="page ==='Admin'">
                <Admin></Admin>
            </div>
    </div>
    </main>
    <script src="script.js"></script>
    </div>
</body>

</html>